@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--gilroy);
}

@layer utilities {
  .btn_white {
    @apply bg-white px-8 py-3 text-blue-950;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_blue {
    @apply bg-blue-950 px-8 py-3 text-white;
  }
  .btn_red {
    @apply bg-red-400 px-8 py-3 text-white;
  }
  .btn_green {
    @apply bg-green-base px-6 py-2 text-white transition-all hover:bg-green-base/75 cursor-pointer font-gilroy-regular;
  }
  .btn_dark_green {
    @apply bg-green-800 px-6 py-2 text-white transition-all hover:bg-green-800/75 cursor-pointer font-gilroy-regular;
  }
  .btn_dark_orange {
    @apply bg-orange-base px-6 py-2 text-white transition-all hover:bg-orange-base/75 cursor-pointer font-gilroy-regular;
  }
  .btn_dark_orange_outline {
    @apply border-orange-base text-orange-base px-6 py-2 border font-gilroy-regular;
  }
  .btn_dark_blue {
    @apply bg-blue-base px-6 py-2 text-white transition-all hover:bg-blue-base/75 cursor-pointer font-gilroy-regular;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-28 {
    @apply text-[28px] font-[400] leading-[120%] font-gilroy-semibold;
  }

  .regular-24 {
    @apply text-[24px] font-[400] font-gilroy-regular;
  }

  .regular-20 {
    @apply text-[20px] font-[400] font-gilroy-regular;
  }

  .regular-20 p {
    @apply text-[20px] font-[400] leading-[120%] mb-2 font-gilroy-regular;
  }

  .regular-18 {
    @apply text-[18px] font-[400] leading-[145%] font-gilroy-medium;
  }

  .regular-18 p {
    @apply text-[18px] font-[400] leading-[145%] font-gilroy-medium text-generic-950 mb-2;
  }

  .regular-16 {
    @apply text-[16px] font-[400] leading-[145%] font-gilroy-medium;
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .regular-10 {
    @apply text-[10px] font-[400] font-gilroy-medium;
  }

  .regular-12 {
    @apply text-[12px] font-[400] font-gilroy-regular;
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%] font-gilroy-semibold;
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%] font-gilroy-semibold;
  }

  .bold-72 {
    @apply text-[72px] font-[400] leading-[100%] font-gilroy-semibold;
  }

  .bold-56 {
    @apply text-[56px] font-[400] leading-[100%] font-gilroy-semibold;
  }

  .bold-48 {
    @apply text-[48px] font-[400] leading-[48px] font-gilroy-semibold -tracking-[1.92px];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%] font-gilroy-semibold;
  }

  .bold-36 {
    @apply text-[36px] font-[400] leading-[43.2px] font-gilroy-semibold;
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%] font-gilroy-semibold;
  }

  .bold-20 {
    @apply text-[20px] font-[400] leading-[120%] font-gilroy-semibold;
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .bold-14 {
    @apply text-[14px] font-[700];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px] font-gilroy-semibold;
  }

  /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-img-1 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  /* Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
  }

  /* Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
  }

  /* Get App */
  .get-app {
    @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .tab-title {
    @apply text-[14px] uppercase text-generic-950 mb-2;
  }

  .tab {
    @apply flex flex-col gap-4 justify-start;
  }
  .tab p {
    @apply text-[16px] font-[400] text-generic-950 leading-[145%] font-gilroy-regular;
  }

  .bg-br-position {
    background-position: bottom right;
    background-size: contain;
  }

  @media (max-width: 767px) {
    .bg-br-position {
      background-image: none;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 767px) {
  .no-bg-mobile {
    background-image: none !important;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
